@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --COLOR-BLUE: hsl(220, 98%, 61%);
  --COLOR-OCEAN-BLUE: hsl(192, 100%, 67%);
  --COLOR-PINK: hsl(280, 87%, 65%);
  --COLOR-VERY-DARK-BLUE: hsl(235, 21%, 11%);
  --COLOR-VERY-DARK-DESATURATED-BLUE: hsl(235, 24%, 19%);
  --COLOR-WHITE: #fff;
  --CHECK-BACKGROUND-GRADIENT: linear-gradient(
      to bottom right,
      var(--COLOR-OCEAN-BLUE),
      var(--COLOR-PINK)
  );
  --COLOR-VERY-LIGHT-GREY: hsl(0, 0%, 98%);
  --COLOR-VERY-LIGHT-GREYISH-BLUE: hsl(236, 33%, 92%);
  --COLOR-LIGHT-GREYISH-BLUE: hsl(233, 11%, 84%);
  --COLOR-DARK-GREYISH-BLUE: hsl(236, 9%, 61%);
  --COLOR-VERY-DARK-GREYISH-BLUE: hsl(235, 19%, 35%);
  --COLOR-100: var(--COLOR-VERY-LIGHT-GREY);
  --COLOR-300: var(--COLOR-VERY-LIGHT-GREYISH-BLUE);
  --COLOR-500: var(--COLOR-LIGHT-GREYISH-BLUE);
  --COLOR-700: var(--COLOR-DARK-GREYISH-BLUE);
  --COLOR-900: var(--COLOR-VERY-DARK-GREYISH-BLUE);
  --BODY-FONT: "Josefin Sans", sans-serif;
  --BORDER-RADIUS: 8px;
}

html {
  font-size: 13px;
  font-weight: 400;
}

body {
  font-family: var(--BODY-FONT);
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  padding: 0 1.5rem;
  background-color: var(--COLOR-100);
  background-image: url("../images/bg-mobile-light.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw 35vh;
}

.b-bottom {
  border-bottom: 1px solid var(--COLOR-300);
}

.br-top {
  border-top-left-radius: var(--BORDER-RADIUS);
  border-top-right-radius: var(--BORDER-RADIUS);
}

.br-bottom {
  border-bottom-left-radius: var(--BORDER-RADIUS);
  border-bottom-right-radius: var(--BORDER-RADIUS);
}

.mr-bottom {
  margin-bottom: 1.5rem;
}

.strikethrough {
  text-decoration: line-through;
  color: var(--COLOR-500);
}

button {
  font-family: var(--BODY-FONT);
  font-size: 0.7rem;
  background: transparent;
  border: none;
  color: var(--COLOR-700);
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
  background: transparent;
  color: var(--COLOR-WHITE);
}
.header .todo-title {
  letter-spacing: 1.2rem;
  font-size: 2.2rem;
  font-weight: 700;
}
.header .theme-toggle {
  margin-left: auto;
}
.header .theme-toggle #theme-toggle-checkbox {
  visibility: hidden;
}
.header .theme-toggle #theme-toggle-checkbox + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.header .theme-toggle #theme-toggle-checkbox + label i {
  position: absolute;
  top: -1.3rem;
  right: 0.5rem;
  font-size: 1.7rem;
}
.header .theme-toggle label .dark-theme-icon {
  visibility: visible;
}
.header .theme-toggle label .light-theme-icon {
  visibility: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  background: transparent;
}
main .tasks-list {
  box-shadow: 0 0 2rem -1rem var(--COLOR-700);
}
main .task {
  background: var(--COLOR-WHITE);
  padding: 1.2rem;
  display: flex;
  color: var(--COLOR-900);
}
main .task .mark-as-completed {
  position: relative;
  margin: 0 0.7rem;
}
main .task .mark-as-completed label {
  border: 1px solid var(--COLOR-300);
  border-radius: 50%;
  cursor: pointer;
  left: -0.6rem;
  position: absolute;
  top: -0.17rem;
  width: 24px;
  aspect-ratio: 1/1;
}
main .task .mark-as-completed label:hover {
  border: 1px solid var(--COLOR-BLUE);
}
main .task .mark-as-completed label:after {
  border: 2px solid var(--COLOR-WHITE);
  border-top: none;
  border-right: none;
  content: "";
  top: 7px;
  left: 6px;
  height: 6px;
  width: 10px;
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
}
main .task .mark-as-completed input[type=checkbox] {
  visibility: hidden;
}
main .task .mark-as-completed input[type=checkbox]:checked + label {
  background: var(--CHECK-BACKGROUND-GRADIENT);
  border-color: var(--COLOR-BLUE);
}
main .task .mark-as-completed input[type=checkbox]:checked + label:after {
  opacity: 1;
}
main .task input {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: inherit;
  outline: none;
  border: none;
  width: 100%;
  color: var(--COLOR-900);
  margin-left: 0.1rem;
  caret-color: var(--COLOR-BLUE);
}
main .task .task-description {
  cursor: pointer;
  position: relative;
  width: 100%;
}
main .task .task-description:after {
  position: absolute;
  top: -1rem;
  right: 0;
  content: "⨉";
  color: var(--COLOR-500);
  font-size: 2.5rem;
}
main .task .task-description:hover:after {
  visibility: visible;
}
main .control-panel .actions-list {
  box-shadow: 0 1rem 2rem -1.4rem var(--COLOR-700);
  display: flex;
  justify-content: space-between;
}
main .control-panel .actions-list .action-item {
  font-size: 0.7rem;
  color: var(--COLOR-700);
}
main .control-panel .actions-list .action-item button:hover {
  color: var(--COLOR-900);
}
main .control-panel .filters {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
  padding: 1.05rem;
}
main .control-panel .filters .filter-item button {
  font-size: 0.8rem;
  font-weight: 700;
}
main .control-panel .filters .filter-item :hover {
  color: var(--COLOR-900);
}
main .control-panel .filters .selected button {
  color: var(--COLOR-BLUE);
}
main .suggestion {
  margin: 2rem 0;
}
main .suggestion p {
  text-align: center;
  color: var(--COLOR-700);
}

body[theme=dark] {
  --COLOR-300: hsl(233, 14%, 35%);
  --COLOR-500: hsl(234, 11%, 52%);
  --COLOR-900: hsl(234, 39%, 85%);
  background-color: var(--COLOR-VERY-DARK-BLUE);
  background-image: url("../images/bg-mobile-dark.jpg");
}
body[theme=dark] body {
  background-color: var(--COLOR-VERY-DARK-DESATURATED-BLUE);
}
body[theme=dark] .header .theme-toggle label .dark-theme-icon {
  visibility: hidden;
}
body[theme=dark] .header .theme-toggle label .light-theme-icon {
  visibility: visible;
}
body[theme=dark] main .tasks-list {
  box-shadow: 0 0 2rem -1rem var(--COLOR-VERY-DARK-BLUE);
}
body[theme=dark] main .task {
  background: var(--COLOR-VERY-DARK-DESATURATED-BLUE);
}
body[theme=dark] main .control-panel .actions-list {
  box-shadow: 0 1rem 2rem -1.4rem var(--COLOR-VERY-DARK-BLUE);
}

@media screen and (min-width: 650px) {
  html {
    font-size: 16px;
  }
  main .task .task-description:after {
    visibility: hidden;
  }
  main .control-panel {
    position: relative;
  }
  main .control-panel .actions-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  main .control-panel .filters {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 30%;
    margin: auto;
    background: transparent;
  }
  main .suggestion {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 18px;
  }
  body {
    background-image: url("../images/bg-desktop-light.jpg");
  }
  body[theme=dark] {
    background-image: url("../images/bg-desktop-dark.jpg");
  }
}/*# sourceMappingURL=styles.css.map */